<h1 class="display-3">About</h1>
<h1 class="display-6">Sobre mí</h1>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
    <svg class="bd-placeholder-img figure-img img-fluid rounded" width="200" height="300" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text></svg>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Jorge Guzman</h5>
        <p class="card-text">Estudiante de ingeniaria 4to año Universidad de los Andes.</p>
      </div>
    </div>
  </div>
</div>

<h1 class="display-6">Habilidades</h1>
        <table class="table table-striped table-hover w-50 p-3 border lead">
            <thead>
                <tr>
                    <th>Habilidad</th>
                    <th>Nivel</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Python</td>
                    <td>Experto</td>
                </tr>
                <tr>
                    <td>JavaScript</td>
                    <td>Intermedio</td>
                </tr>
                <tr>
                    <td>HTML/CSS</td>
                    <td>Intermedio</td>
                </tr>
                <tr>
                    <td>SQL</td>
                    <td>Intermedio</td>
                </tr>
                <tr>
                    <td>C/C++</td>
                    <td>Avanzado</td>
                </tr>
                <tr>
                    <td>Ingles</td>
                    <td>Avanzado</td>
                </tr>
            </tbody>
          </table>
